body{
	margin:0px;
}

/*
 * MENU BUTTON
 */
@import url("https://fonts.googleapis.com/css?family=K2D");
.menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
	align-items: center;
	color:white;
	position:fixed
	
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: currentColor;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -8px;
}
.menu__toggler span::after {
  top: 8px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #c24d1b;
  top: 0px;
}
.menu__toggler.active > span::before {
	transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
	transform: rotate(225deg);
}

/*
 * SLIDING MENU PANEL
 */

.menu {
  position: absolute;
  left: -30%;
  z-index: 998;
  background: rgba(250, 250, 250, 0.7);
  width: 20%;
  height: 100%;
  padding: 50px;
  display: flex;
	flex-direction: column;
	justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
	position:fixed
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}

a {
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

 a,li{ 
	/*リセット*/
  color: black;
  text-decoration: none;
  list-style: none;
}

ul{
  font-size: 3em;
  font-weight: bolder;
  color: black;
}

a:hover{
	color:#c24d1b;
}
.link { /*要素の整列*/
 margin-left: 1rem;
 text-align: center;
}

.hover-Uline {
  position: relative;/*疑似要素の親を固定*/
  cursor: pointer;/*カーソルをポインターへ*/
  text-decoration: none; /*ホバーなしは非表示*/
}

.hover-Uline:before {
  content: ""; /*疑似要素の中身は空（記述は必須）*/
  position: absolute; /*子要素として疑似要素を固定*/
  left: 0; /*長さはテキストの両端まで*/
  right: 0; /*長さはテキストの両端まで*/
  bottom: -5px;  /*線の上下位置*/
  width: 100%; /*線の長さ*/
  height: 1px; /*線の太さ*/
  background-color:#c24d1b; /*線の色*/
  transform: scale(0, 1); /*横方向に0状態から全体まで線を入れる*/
  transform-origin: center; /*中央を起点にアニメーション*/
  transition: transform .2s; /*アニメーションの時間*/
}

.hover-Uline:hover:before {
  transform: scale(1); /*ホバー時に等倍へ拡大*/
}

.menu.active {
  left: 0;
}
.menu li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/*
 * BASIC STYLES
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: white;
	font-family: 'Encode Sans Condensed',
  display: flex;
	justify-content: center;
	align-items: center;
	background-color:#c24c1a
}

h1 {
  color: currentColor;
  mix-blend-mode: overlay;
}

#layer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.about img{
	width:100%;
	height:auto;
	max-width: 100%;
	box-shadow: 0 10px 30px 0 rgba(4,53,128,.15);
}

.about{
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	grid-gap: 40px;	/* マス同士の間隔を40px空ける */
	justify-content: center;
    align-items: center;/* マス全体を中央寄せ */
	grid-gap: 200px 5px;
	padding: 300px 40px 200px 40px;
	
}

@media (max-width: 450px) {
.about{
  grid-template-columns: repeat(1,300px);
}
	.about img{
		width:100%;
		height:auto;
		max-width: 100%;
	}
}

.text{
	text-align:center;
    width:100%;
    max-width:100%;
	color:white;
	font-family: vdl-logog, sans-serif;
margin: 40px auto;
	z-index:0;
}

h2{
	font-size:15px;
	font-weight:100;
		opacity:0.8;
}

h3{
	font-size:30px;
		font-weight:300;
}

h4{
	font-size:20px;
		font-weight:200;
	opacity:0.8;
}

hr{
	margin:20px 0px 0px 0px;
}

.image{
	position: relative;
	z-index:0;
}

.image2{
	  position: absolute;
    top: 0;
    left: 0;
	z-index:0;
}

#page_top{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  opacity: 0.8;
	  background: white;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
	
}
#page_top a::before{
font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f077";
  font-size: 20px;
  color: #c24d1b;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}


html{
    /* フォントサイズの正確に */
    -webkit-text-size-adjust: 100%;
    /* 文字をシャープに */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* カーニングとリガチャ（合字）を調整 */
    text-rendering: optimizeLegibility;
}

body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


.image2:nth-child(odd) {
    -webkit-animation: horizontal1 1s ease-in-out infinite alternate;
}
.image2:nth-child(even) {
    -webkit-animation: horizontal2 1s ease-in-out infinite alternate;
}

.image2:nth-child(1) a {
    -webkit-animation-duration: 1.1s;
}
.image2:nth-child(2) a {
    -webkit-animation-duration: 1.3s;
}
.image2:nth-child(3) a {
    -webkit-animation-duration: 1.5s;
}


@-webkit-keyframes horizontal1 {
    0% { -webkit-transform:translateX( -3px); }
  100% { -webkit-transform:translateX(  0px); }
}

@-webkit-keyframes horizontal2 {
    0% { -webkit-transform:translateX(  3px); }
  100% { -webkit-transform:translateX(  0px); }
}

@-webkit-keyframes vertical {
    0% { -webkit-transform:translateY(-10px); }
  100% { -webkit-transform:translateY(  0px); }
}

